{% extends "master.html" %}
{% block content %}
{% if object %}
<form action="{{ object.get_edit_url }}" method="post" enctype="multipart/form-data">
{% else %}
<form action="{% url add-noun %}" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
    {% include "word_form_common.html" with form=form %}
    
    <div class="row-list label-ws">{{ form.definite_article.errors }} <label for="id_definite_article">{{ form.definite_article.label }}:</label> {{ form.definite_article }} </div>
    <div class="row-list label-ws">{{ form.indefinite_article.errors }} <label for="id_indefinite_article">{{ form.indefinite_article.label }}:</label> {{ form.indefinite_article }} </div>
    <p>{{ form.plural.errors }} <label for="id_plural">{{ form.plural.label }}:</label> {{ form.plural }} </p>
    <p class="bbo mbl">{{ form.diminutive.errors }} <label for="id_diminutive">{{ form.diminutive.label }}:</label> {{ form.diminutive }} </p>
    <input type="submit" value="Submit" />
</form>
{% endblock %}