<table class="verb-table mbl">
<tr>
    <td class="bbb">&nbsp;</td>
    <td class="bbb">O.T.T.</td>
    <td class="bbb">V.T.T</td>
</tr>
<tr>
    <td>Ik</td>
    <td><h4>{{ verb.present_1st }}</h4></td>
    <td><h4>{{ verb.past_singular }}</h4></td>
</tr>
<tr>
    <td>Jij/U</td>
    <td><h4>{{ verb.present_2nd }}</h4></td>
    <td><h4>{{ verb.past_singular }}</h4></td>
</tr>
<tr>
    <td>Hij/Zij/het</td>
    <td><h4>{{ verb.present_3rd }}</h4></td>
    <td><h4>{{ verb.past_singular }}</h4></td>
</tr>
<tr>
    <td class="bbb">Wij <br/> Jullie/U <br/> Zij</td>
    <td class="bbb" valign="top"><h4>{{ verb.word }}</h4></td>
    <td class="bbb" valign="top"><h4>{{ verb.past_plural }}</h4></td>
</tr>
<tr>
    <td class="bbb">V.T.T.</td>
    <td class="bbb"><h4>{{ verb.get_past_perfect_aux }}</h4></td>
    <td class="bbb"><h4>{{ verb.past_perfect }}</h4></td>
</tr>
</table>
