{% extends "master.html" %}
{% block content %}
{% if object %}
<form action="{{ object.get_edit_url }}" method="post" enctype="multipart/form-data">
{% else %}
<form action="{% url add-verb %}" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
    {{ form.non_field_errors }}
    <div style="display:none"">{{ form.word_type }}</div>
    <p>{{ form.word.errors }} <label for="id_word">{{ form.word.label }}:</label> {{ form.word }} </p>
    <p>{{ form.meaning.errors }} <label for="id_meaning">{{ form.meaning.label }}:</label> {{ form.meaning }} </p>
    <p>{{ form.info.errors }} <label for="id_info">{{ form.info.label }}:</label> {{ form.info }} </p>
    <p>{{ form.image.errors }} <label for="id_image">{{ form.image.label }}:</label> {{ form.image }} </p>
    <p class="mbl bbo">{{ form.audio.errors }} <label for="id_audio">{{ form.audio.label }}:</label> {{ form.audio }} </p>
    <table class="frm-table mbl bbo">
        <tr>
            <td>&nbsp;</td>
            <td>O.T.T.</td>
            <td>O.V.T.</td>
        </tr>
        <tr>
            <td>Ik</td>
            <td>{{ form.present_1st.errors }} {{ form.present_1st }}</td>
            <td>{{ form.past_1st.errors }} {{ form.past_1st }}</td>
        </tr>
        <tr>
            <td>Jij/U</td>
            <td>{{ form.present_2nd.errors }} {{ form.present_2nd }}</td>
            <td>{{ form.past_2nd.errors }} {{ form.past_2nd }}</td>
        </tr>
        <tr>
            <td>Hij/Zij/het</td>
            <td>{{ form.present_3rd.errors }} {{ form.present_3rd }}</td>
            <td>{{ form.past_3rd.errors }} {{ form.past_3rd }}</td>
        </tr>
        <tr>
            <td>Wij <br/> Jullie/U <br/> Zij</td>
            <td> &nbsp; </td>
            <td valign="top">{{ form.past_plural.errors }} {{ form.past_plural }}</td>
        </tr>
   </table>
   <table class="frm-table mbl bbo">
        <tr>
            <td valign="top">V.T.T.</td>
            <td>{{ form.past_perfect_aux.errors }} {{ form.past_perfect_aux }}</td>
            <td valign="top">{{ form.past_perfect.errors }}  {{ form.past_perfect }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>
{% endblock %}