{% extends "master.html" %}
{% block content %}
<div class="mll">
    <p><h4><strong>{{ object.get_word }}</strong></h4> {{ object.get_meaning }}</p>
    {% include "tag_list.html" with tag_list=tag_list %}
    <a href="javascript:void(0);" class="action-add-tag dim-action">tag</a>
    <div class="tag-form" style="display:none;">
        {% include "tag_form.html" with form=tag_form %}
    </div>
    {% if object.info %}
        <p>{{ object.info }}</p>
    {% endif %}
    {% if object.is_noun %}
        {% include "noun.html" with noun=object.noun %}
    {% endif %}
    {% if object.is_verb %}
        {% include "verb.html" with verb=object.verb %}
    {% endif %}
    <p class="pbl">Examples:</p>
    {% include "sentence_list.html" with sentence_list=sentence_list %}
</div>
    {% include "sentence_form.html" with form=setence_form %}
{% endblock %}