{% extends "master.html" %}
{% block content %}
<div class="mll">
    <div class="mbm"><h3><strong>{{ object.get_word }}</strong></h3> {%if perms.mainapp.edit_word %} <a href="{{ object.get_edit_url }}" class="dim-action">edit</a>{% endif %} {{ object.get_meaning }} </div>
    {% if object.image %}
    <div>
        <img src="{{ object.image.url }}" >
    </div>
    {% endif %}
    {% include "tag_list.html" with tag_list=tag_list %}
    {% include "tag_form.html" with form=tag_form %}
    {% if object.info %}
        <p>{{ object.info }}</p>
    {% endif %}
    {% if object.is_noun %}
        {% include "noun.html" with noun=object.noun %}
    {% endif %}
    {% if object.is_verb %}
        {% include "verb.html" with verb=object.verb %}
    {% endif %}
    <div class="mbm"><strong>Examples:</strong></div>
    {% include "sentence_list.html" with sentence_list=sentence_list %}
</div>
    {% include "sentence_form.html" with form=setence_form %}
{% endblock %}