{% extends "master.html" %}
{% block content %}
{% if object %}
<form action="{{ object.get_edit_url }}" method="post" enctype="multipart/form-data">
{% else %}
<form action="{% url add-word %}" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
    {{ form.non_field_errors }}
	<p>{{ form.word_type.errors }} <label for="id_word_type">{{ form.word_type.label }}:</label> {{ form.word_type }} </p>
	<p>{{ form.word.errors }} <label for="id_word">{{ form.word.label }}:</label> {{ form.word }} </p>
	<p>{{ form.meaning.errors }} <label for="id_meaning">Meaning:</label> {{ form.meaning }} </p>
	<p>{{ form.info.errors }} <label for="id_info">{{ form.info.label }}:</label> {{ form.info }} </p>
	<p>{{ form.image.errors }} <label for="id_image">{{ form.image.label }}:</label> {{ form.image }} </p>
	<p class="mbl bbo">{{ form.audio.errors }} <label for="id_audio">{{ form.audio.label }}:</label> {{ form.audio }} </p>
    <input type="submit" value="Submit" />
</form>
{% endblock %}